*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #6F9FF2;
}
header{
    background-color: #123570;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
header img{
    display: flex;
}
.menu{
    display: flex;
}
.menu li{
    list-style:none;
    margin: 0 10px;
}
.menu li a{
    color: #2670F0;
    text-decoration: none;
    font-weight: 800;
}
.menu li a:hover{
    color: #E0B967;
    font-size: 1.1em;
}
.container{
    background-color: rgba(255, 255, 255);
    display: block;
   text-align: center;
   border-radius: 20px;
   width: 800px;
   margin: 60px auto;
   padding: 20px;
}
.conteudo h1{
    color: #123570;
    margin-bottom: 10px;
}
.conteudo a{
    text-decoration: none;
    color: #123570;
    font-weight: 700;
}
.conteudo p{
    margin-bottom: 20px;
    text-align: justify;
}
.termostato{
    display: flex;
}
